html, body{
	margin: 0px;
}

footer{
	background-color: #333;
	color: white;
}

.photoProfil{
	width: 50px;
	height: 50px;
}

.post{
	width: 500px;
	height: 300px;
}

.publication{
	display: block;
	margin: auto;
	text-align: center;
}

.container{
	border-style: solid;
	border-color: #333;
}

.contLeft{
	background-color: #2fa0c4;
	width : 250px;
	height: 560px;
	float: left;
	overflow-x: hidden;
    overflow-y: scroll;
}

.contRight{
	background-color: #D3D3D3;
	height: 560px;
	overflow: scroll;
}
