
footer{
	background-color: #333;
	color: white;	
}

a{
	color: white;
}

.photoProfil{
	width: 50px;
	height: 50px;
}

.post{
	width: 300px;
}

.publication{

	margin: 0 auto;
	text-align: center;
	word-wrap: break-word;
	border : 2px solid #333;
	border-radius : 10px;
	box-shadow : 0px 1px 12px rgba(0,0,0,0.5);
}

.container{
	border-style: solid;
	border-color: #333;
	background-color: #D3D3D3;
	
}

.contLeft{
	background-color: #2fa0c4;
	width : 250px;
	height: 560px;
	float: left;
	overflow-x: hidden;
    overflow-y: scroll;
}

.contRight{
	background-color: #D3D3D3;
	height: 560px;
	overflow: scroll;
}
