
footer{
	background-color: #333;
	color: white;	
}

a{
	color: white;
}

.photoProfil{
	width: 150px;
}

.bandeau{
	width: 750px;
	
}

.fondBandeau{
	background-color: #A4A4A4;
}

.photoCv{
	width: 200px;
}

.post{
	margin: 0 auto;
	border : 2px solid #333;
	border-radius : 10px;
	box-shadow : 0px 1px 12px rgba(0,0,0,0.5);
}

.post2{
	text-align:center;
	padding: 5px;
	max-width: 300px;
	word-wrap: break-word;
	border : 2px solid #333;
	border-radius : 10px;
	box-shadow : 0px 1px 12px rgba(0,0,0,0.5);
}

.publication{

	margin: 0 auto;
	text-align: center;
}

.container{
	border-style: solid;
	border-color: #333;
	background-color: #D3D3D3;
	
}

.contLeft{
	background-color: #2fa0c4;
	margin-top: -60px;
	width : 250px;
	height: 620px;
	float: left;
}

.contRight{
	background-color: #D3D3D3;
	height: 560px;
	overflow: scroll;
}
