
footer{
	background-color: #333;
	color: white;
	position: fixed;
    bottom: 0;
	width: 3000px;
}

.photoProfil{
	width: 150px;
	border-style: solid;
	border-color: #2fa0c4;
}

.container{
	background-color: #D3D3D3;
	border-style: solid;
	border-color: #333;
	padding-bottom:80px;
}

.contLeft{
	background-color: #2fa0c4;
	width : 250px;
	height: 560px;
	float: left;
	overflow-x: hidden;
    overflow-y: scroll;
}

.contRight{
	background-color: #D3D3D3;
	height: 560px;
	overflow: scroll;
}