/* Add a black background color to the top navigation */
.tabnotifs{
   margin-right: auto;
   margin-left: auto;
   width: 800px;
	border : 2px solid #333;
	border-radius : 10px;
	box-shadow : 0px 1px 12px rgba(0,0,0,0.5);
}

.comments{


}

.container{
	background-color: #D3D3D3;
	border-style: solid;
	border-color: #333;
}

table{
margin: 0 auto;
}


footer{
	background-color: #333;
	color: white;
	position: fixed;
    bottom: 0;
	width: 3000px;
}

.photoProfil{
	width: 50px;
	height: 50px;
}
