body, html {
  margin:0 auto;
}

/* Add styles to the form container */
.block {
  position: absolute;
    height: 600px;
    width: 600px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
	background-color:#d9d9d9;
    border-radius:10px; 
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
}

.bg-img {
  /* The image used */
  background-image: url("Social.jpg");

  /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius:10px; 
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}